.formsteppr nav.fs-progress {
	margin-bottom: 30px;
}

.formsteppr nav.fs-progress ul li {
	display: inline;
}

.formsteppr nav.fs-progress a {
	background: #333;
	background: linear-gradient(top, #444, #333);
	padding: 7px 14px 8px;
	border-radius: 5px;
	border: 1px solid #444;
	margin-right: 12px;
	color: #888;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
	cursor: default;
	transition: all 0.2s ease-in-out;
}

.formsteppr nav.fs-progress a.active {
	border: 1px solid #29cae6;
	border: 1px solid rgba(41, 206, 230, .4);
	color: #eee !important;
	box-shadow: 0 0 10px rgba(70, 190, 224, .6);
	cursor: pointer;
}

.formsteppr nav.fs-progress a.through {
	color: #eee;
	cursor: pointer;
}

.formsteppr fieldset {
	margin-bottom: 0;
}

.formsteppr .fs-required-text {
	float: right;
	color: gray;
	font-size: .6em;
}

.formsteppr .fs-input-wrap {
	margin-bottom: 25px;
}

.formsteppr label .fs-field-required {
	color: #ab3d3d;
	margin-left: 3px;
}

.formsteppr .fs-error-message {
	color: #c23939;
	margin-bottom: 5px;
	font-size: 0.9em;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.formsteppr .fs-valid {
	background: #edf3e0;
	border: 1px solid #c7d4a7;
}

.formsteppr .fs-invalid {
	background: #f8e9e9;
	border: 1px solid #d4a7a7;
}

.formsteppr .fs-buttons {
	margin: 2em 0;
}

.formsteppr .button.back {
	float: left;	
}

.formsteppr .button.proceed,
.formsteppr .fs-submit-button {
	float: right;	
}

.formsteppr .s-hidden {
	display: none;
}

.formsteppr .s-display {
	display: block;
}